﻿<%@ Page Title="" Language="C#" MasterPageFile="~/LMSMaster.master" AutoEventWireup="true" CodeFile="CustomError.aspx.cs" Inherits="CustomError" %>

<asp:Content ID="Content1" ContentPlaceHolderID="LMSCPH" Runat="Server">
<table   style="width:100%; font-size:small;font-family:Verdana">
    <tr>
        <td style="width:15%" valign="bottom"  align="center" >
        <span style="font-weight:bold ;font-family:Verdana;font-size:15px  " ><br /><br /><br /> 
                <asp:Label ID="lblErrorMessage" runat="server" Text="ErrorMessage" CssClass="error" ></asp:Label><br />
                <asp:Label ID="lblMessage" runat="server" Text="Message" CssClass="error" ></asp:Label><br />
                <asp:Label ID="lblErrorNumber" runat="server" Text="ErrorNumber" CssClass="error" ></asp:Label><br />
                
          <%--      <asp:Label ID="lblErrorMessage" runat="server" Text="ErrorMessage"></asp:Label>--%>
                
                <a href="LMSHome.aspx">Home</a> </span>
        </td>
    </tr>
        </table>
</asp:Content>

