<%@ Page Language="C#" Theme="LMS" MasterPageFile="~/LMSMaster.master" AutoEventWireup="false"
    CodeFile="LMSHome.aspx.cs" Inherits="LMSHome" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="LMSCPH" runat="Server">
    <table align="center" bgcolor="#faeee2" width="100%">
        <tr>
            <td align="center" width="100%">
                <asp:Image ID="Image1" ImageUrl="~/images/Home.jpg" runat="server"/>
            </td>
        </tr>
    </table>
</asp:Content>
