﻿body, div, p, h1, h2, h3, h4, ul, li, table
{
	margin:0;
	padding:0;
	border:none;
}
/*Common Controls Style */
.label
{
	font-family:Calibri;
	color:#860018;
	font-size:12px;
	font-weight:200;
	width:50;
}
.error
{
	font-family:Calibri;
	color:#860018;
	font-size:16px;
	font-weight:200;
	width:50;
}
.CheckBox
{
	font-family:Calibri;
	color:#860018;
	font-size:12px;
}
.Menu
{
	font-family:Calibri;
	color:#860018;
	font-size:22px;
	font-weight:500;

}

.Menulabel
{
	font-family:Calibri;
	color:#860018;
	font-size:13px;
	font-weight:500;

}
.SubMenulabel
{
	font-family:Calibri;
	color:#860018;
	font-size:16px;
	font-weight:500;

}

.MenuHeader
{
	font-family:Calibri;
	color:#860018;
	font-size:30px;

}

.UserNameTimeLabel
{
	font-family:Calibri;
	color:White;
	font-size:14px;
	font-weight:bold;
}
.LinkButton
{
	font-family:Calibri;
	color:#860018;
	font-size:16px;
	font-weight:600;
}

/* Accordion */
.accordionHeader
{
	padding-Top:1px;
	padding-left:5px;
	height:10px;
	background-color:#f2d7c2;
    cursor: pointer;
}
.accordionHeaderSelected
{
	background-color:#e8c8af;
	padding-Top:1px;
	padding-left:5px;
	height:20px;
	background-image: url(Images/Brown.jpg);
    cursor: pointer;
}
.accordionTextSelected
{
	background-color:#e8c8af;
	padding-Top:1px;
	padding-left:5px;
	height:21px;
	background-image: url(Images/Brown.jpg);
    cursor: pointer;
}
.accordionContent
{
    background-color: #f2d7c2;
    border-top: none;
    padding: 3px;
    padding-top: 1px;
}

/* PopUp Styles*/
.modalpopup
{
	background-color:#ffffff;
    font-family: arial,helvetica,clean,sans-serif;
    font-size: small;
    padding: 2px 3px;
    display: block;
    position: absolute;
}

.container
{
    width: 100%;
    border: solid 1px #808080;
    border-width: 1px 0px;
} 

.header
{
    color: #000;	
    border-color: #b36944;
    border-style: solid;
    border-width: 0px 2px 2px;
    padding: 3px 10px;
    background-color:#b36944;
} 

.body
{
    background-color: #f2f2f2;
    border-color: #808080;
    border-style: solid;
    border-width: 0px 1px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 30px;
} 

.body .msg
{
    background: url(img/sprite.png) no-repeat 0px -1150px;	
    float: left;
    padding-left: 22px;
}  

.footer
{
    background-color: #f2f2f2;
    border-color: #808080;
    border-style: none solid;
    border-width: 0px 1px;
    text-align:right;
    padding-bottom: 8px;
    padding-right: 8px;
} 
.close
{
    right: 7px;	
    background: url(images/close.png) no-repeat 0px -300px;	
    width: 25px;
    background-color:Silver;	
    cursor: pointer;	
    position: absolute;	
    top: 7px;	
    height: 15px;
}

.modalBackground 
{
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.modalPopup
 {
	background-color:#ffffff;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:250px;
}

.Panel
{
	background-color:#ffffff;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:450px;
	height:250px;
}

/* SlideShow styles */
.Span
{
	 font-family:Calibri;
	 font-size:12px;
	color:#0E3667;
}

.SpanHeader
{
	 font-family:Calibri;
	 font-size:12px;
	 font-weight:bold 
}

/* Table Styles */
.table
{
 font-family:Calibri ;
 font-size:12px;
 width:100%	;
}

.TRHeader
{
	font-size:16px;
	font-weight:bold;
	color:#920432;
	background-color: #f7e3cf;
	font-family:Calibri;
}
.gridSelectedRow
{
  border-width : 1px;
  border-style : solid;
  border-color:Navy;
  background-color:#DEDEDE;
}

.headerlabel
{
	font-family:Calibri;
	color:#7e320a;
	font-size:14px;
	font-weight:bold;
}

.gvHeaderStyle
{
	font-family:Calibri;
	font-size:12px;
	width:60px;
	color:#0E3667;
	font-weight:bold;
	background-color:#BAD7FF;
}
.GridView
{
	border-color:#e8c8af;
	border-width:1px;
}
.PopCal  
{
	position:absolute;
	z-index: 100002; 
}
