﻿<%@ Page Title="" Language="C#" MasterPageFile="~/LMSMaster.master" AutoEventWireup="true" CodeFile="UnAuthorization.aspx.cs" Inherits="UnAuthorization" %>

<asp:Content ID="Content1" ContentPlaceHolderID="LMSCPH" Runat="Server">
<table   style="width:100%; font-size:small;font-family:Verdana">
    <tr><td style="width:15%" valign="bottom"  align="center" >
            <span style="font-weight:bold ;font-family:Verdana;font-size:15px  "><br /> <br /> <br /> 
             <asp:Label ID="lblErrorMessage" runat="server" Text="ErrorMessage" CssClass="error" /><br /><br />
            <asp:Label ID="lblfile" CssClass="error" runat="server"></asp:Label><br /><br />
            
<%--            <p>You are not authorized to view the requested page</p>
--%>             <a href="LMSHome.aspx">Home</a> </span>
    </td></tr>
</table>
</asp:Content>

