﻿<%@ Page Language="C#" Theme="LMS" Title="My Transaction" AutoEventWireup="true"
    MasterPageFile="~/LMSMaster.master" CodeFile="MyTransaction.aspx.cs" Inherits="Query_MyTransaction" %>
    
<%@ Register TagPrefix="uc" TagName="Spinner" Src="~/Query/MyTransaction.ascx" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="LMSCPH" runat="server">
   <uc:Spinner ID="spinner1" runat ="server" />
</asp:Content>