﻿<%@ Page Title="" Language="C#" Theme="LMS" MasterPageFile="~/LMSMaster.master" AutoEventWireup="true" CodeFile="AD.aspx.cs" Inherits="LMsSecurity_AD" %>

<asp:Content ID="Content1" ContentPlaceHolderID="LMSCPH" Runat="Server">
<%--<asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
            <table align="left" width="100%">
                <tr>
                    <td>
                        <asp:GridView ID="grdActiveDirectory" runat="server" Width="100%" AutoGenerateColumns="false"
                            AllowPaging="true" AllowSorting="true" HeaderStyle-BackColor="silver" HeaderStyle-VerticalAlign="Top"
                            OnPageIndexChanging="grdActiveDirectory_PageIndexChanging" OnSorting="grdActiveDirectory_Sorting"
                            ToolTip="Active User FORM" BorderColor="#e8c8af" BorderWidth="1px">
                            <Columns>
                                <%--<asp:CommandField ShowSelectButton="True">
                                    <HeaderStyle HorizontalAlign="Center" Width="10%" />
                                    <ItemStyle HorizontalAlign="Center" />
                                </asp:CommandField>--%>
                                <%--<asp:BoundField DataField="UserName" HeaderText="UserName" SortExpression="UserName">
                                    <ItemStyle HorizontalAlign="Left" />
                                    <HeaderStyle HorizontalAlign="Center" Width="70" />
                                </asp:BoundField>
                                <asp:BoundField DataField="LoginId" HeaderText="LoginId" SortExpression="LoginId">
                                    <ItemStyle HorizontalAlign="Left" />
                                    <HeaderStyle HorizontalAlign="Center" Width="90" />
                                </asp:BoundField>
                                <asp:TemplateField Visible="False" HeaderText="Description">
                                    <ItemStyle HorizontalAlign="Left"></ItemStyle>
                                    <HeaderStyle Width="10%" HorizontalAlign="Center"></HeaderStyle>
                                    <ItemTemplate>
                                        <asp:Label ID="lblUserId" runat="server" Text='<%# DataBinder.Eval(Container.DataItem, "UserId") %>'
                                            Visible="false"></asp:Label>
                                    </ItemTemplate>
                                </asp:TemplateField>
                            </Columns>
                        </asp:GridView>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <asp:Button ID="Button2" runat="server" Text="Button" />
                    </td>
                </tr>
            </table>
       
        </ContentTemplate>
    </asp:UpdatePanel>--%>--%>
</asp:Content>

