﻿<%@ Page Language="C#" Title="Role Previlage" Theme="LMS" AutoEventWireup="true" CodeFile="RoleAssaign.aspx.cs" Inherits="LMsSecurity_RoleUC" %>

<%@ Register TagName="Spinner" TagPrefix="uc" Src="~/LMsSecurity/RolePrevilage.ascx" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <uc:Spinner ID="Spinner1" runat="server" />
    </div>
    </form>
</body>
</html>
